
<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">DIY Yourself</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
          {{#link-to "skills" classNames="pure-menu-link"}}Skills{{/link-to}}
        </li>
        <li class="pure-menu-item">
          {{#link-to "portfolio" classNames="pure-menu-link"}}Portfolio{{/link-to}}
        </li>

        {{#if session.isWorking }}
          <li>Working..</li>
        {{else}}
          {{#if session.isAuthenticated }}
            <li class="pure-menu-item">
              Welcome {{session.currentUser.name}}
              <a href="#" {{action 'logout'}}>Logout</a>
            </li>
          {{else}}
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="#" {{action 'signIn'}}>Login via DIY</a>
            </li>
          {{/if}}
        {{/if}}
    </ul>
</div>