{{outlet}}

{{#if isSignedIn}}

  <h2>{{model.nickname}}</h2>

  <img src="{{model.avatar.medium.url}}">

  <h2>Projects</h2>
  {{#each project in projects}}
    <li>
    {{#link-to "maker.project" project}}
      {{#if project.title}}
        {{project.title}}
      {{else}}
        Untitled Project
      {{/if}}
    {{/link-to}}
    </li>
  {{/each}}

{{else}}
  {{render "authorize"}}
{{/if}}
