{{outlet}}


<h2>{{model.nickname}}</h2>

<img src="{{model.avatar.medium.url}}">


{{#each achievement in achievements}}
  <li>
  {{achievement.stamp}} {{achievement.challenge.title}} - {{#link-to 'skill' achievement.skill.url}}{{achievement.skill.title}}{{/link-to}}</li>
{{/each}}