<h1>{{model.title}}</h1>
<img src="{{model.images.medium}}">

<p>{{model.description}}</p>

{{outlet}}

<ol>
{{#each challenge in challenges}}
  <li>{{#link-to skill.challenge model challenge}}{{challenge.title}}{{/link-to}}</li>
{{/each}}
</ol>